/*============= color definition =================*/


$brown:#280004;

$military:#C4C6AB;
$military-light:#E0E2D4;
$military-dark:#353429;

$soldier:#231F06;

$butter:#FFFEFF;
$yellow:#F6CE3A;

$green:#D9DD1C;

$orange:#FF9900;
$blue:#0066FF;

$white:#FEFEFF;


$gray-light:#9A9A9B;
$gray:#49494A;
$gray-dark:#2F2F2F;

$gray-superlight:lighten($gray-light,33%);

$sc-sans:'Alegreya Sans SC', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans-serif:'Alegreya Sans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//$sans-serif:'HelveticaNeueLTStd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Times New Roman', serif;

/****************** breakpoints definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;
$s5:1600px;

$maximum:1140px;

$experimental-support-for-svg: true;








