.content-info {
 a{
  color:$blue;
  font-weight: 700;
 }
}

.footer-sidebar {
  @include clearfix();
  color:$white;
  background-color: $gray-light;
  @include breakpoint($s2){
    background: linear-gradient(to right, $gray-light 0%,$gray-light 33.333333333%,$gray 33.333333333%);
  }

  .widget{
    @include clearfix();
    padding:0 1em;
    background-color: $gray;
    @include breakpoint($s1){
      padding:2em 1em;
      width:33.333%;
      float:left;
      min-height:18em;
      //background-color: transparent;
    }
    @include breakpoint($s2){
      padding:2em 1em 2em 2em;
      width:22.222%;
      float:left;
      background-color: transparent;
    }
    @include breakpoint($s3){
      padding:3em 1em 3em 3em;
    }
    h3 {
      margin-top:1em;
      font-size: 1.5em;
      line-height: 1.125em;
      @include breakpoint($s1){
        margin-top:0;  
      }
    }
    p{
      margin-top: 0;
    }
  }

  
}

.footer-copy{
  padding:1.25em;
  position: relative;
  font-size: 0.875em;
  color:#000;
}