.slidegallery {
  //overflow:hidden;
  width:100%;
  position: relative;
  
  @include breakpoint($s3){
    min-height: 700px;
    min-height: calc(100vh - 90px);
  } 
  > ul {
    min-height: calc(100vh - 90px);
    transform:translateZ(0);
    margin:0;padding:0;
    white-space: nowrap; 
    transition: margin .2s ease;
    position: relative;

    //margin-left: 10%;
    > li {
      margin:0;
      padding:0;
      list-style-type: none;
      display: block;
      text-align: center;

      @include breakpoint($s3) {
        display: inline-block;        
      }

    }
  }

  .slide-item {
    position: relative;
    transition: filter .2s ease;
    -webkit-transition: -webkit-filter .2s ease;
    -moz-transition: -moz-filter .2s ease;
    -ms-transition: -ms-filter .2s ease;
    max-width: 100%;
    @include breakpoint($s3){
      .js &{
        filter: brightness(0.125) blur(3px);
      }
      &.active {
        filter: brightness(1) blur(0);

      }
    }
    img {
      

      width: auto;
      max-width: 100%;
      max-height: 100vh;
      margin: 0 0 2em 0;

      @include breakpoint($s3) {
        width:auto;
        max-height:calc(100vh - 90px);
        min-height: 700px;
        max-width: none;
        margin: 0 0;
      }
    
    }
    
    .caption {
      white-space: wrap;
      position: absolute;
      left:0;
      width:100%;
      padding:0 0.25em;
      display: inline-block;

      padding:0.25em 0.25em 0.25em;
      background-color: rgba($gray-dark,0.75);
      color:#fff;
      font-size: 1.25em;
      line-height: 1em;
      font-weight: 400;
      font-style: italic;
      text-align: center;
      @include breakpoint($s3) {
       top:1em;
       left:1em;
       width:auto;      
      }
    }


  }
  .slidecontroll{
    display: none;
    position: absolute;
    left:0;right:0;
    top:calc(50% - 2em);
    a{
      font-size: 3em;
      line-height: 0.25em;
      display: block;
      background-color: rgba($gray-dark,0.75);
      padding:0 0.5em;
      text-align: center;
      color:$white;
      //text-shadow: 0 0 5px #000;
      &:hover, &:focus{
        color:#fff;
        background-color: rgba($orange,0.75);
      }

      &.prev{
        float:left;
      }
      &.next{
        float:right;
      }
    }
    @include breakpoint($s3) {
      display: block;
    }


  }
}