.gallerygrid {
    width: 100%;
    //min-height: 100vh;
    margin:2rem auto 4rem;
    @include clearfix();
}



.gallerygrid__sizer,
.gallerygrid__item {
    min-height: 1px;
    width: 49.666%;
    padding: .5rem;
    @include breakpoint($s2) {
        width: 33.1666%;
    }
    @include breakpoint($s3) {
        width: 24.666%;
    }
    @include breakpoint($s4){
      padding: 1rem;
    }
    @include breakpoint($s5) {
        width: 19.666%;
    }
    @include breakpoint($s6) {
        //width: 16.666%;
    }
}

.gallerygrid__item--large {
    width: 99.333%;
    @include breakpoint($s2) {
        width: 66.333%;
    }
    @include breakpoint($s3) {
        width: 49.2333%;
    }
    @include breakpoint($s5) {
        width: 39.2333%;
    }
}
