.menu--group {
    text-align: center;
    > li {
        > a {
            font-size: 1.125em;
            small {
                font-size: .875em;
                display: block;
                font-weight: 400;
            }
        }
    }
}