.hero {
  background-image: url('../img/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px; 
  width:100%;
  padding:1em;

  @include breakpoint($s2){
    //padding:1em 33% 1em 1em;
  }
  @include breakpoint($s3){
    padding:1em 33% 1em 10%;
  }
}
.hero-content {

  text-align: left;
  margin:8em 0;
}
.hero-text{
  font-size: 3em;
  font-family: $sans-serif;
  line-height: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  text-shadow: 1px 1px 3px $gray-dark; 
}

