.hero {
  @include clearfix();
  background-color:$gray-dark;
  background-image: url('../img/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  width:100%;
  min-height: 250px;
  @include breakpoint($s3){
    min-height: 500px;
    &.feles {
      min-height: 0px;
    }

  }
}

.hero--blurred {
  overflow: hidden;
  background-image: none;
  min-height: 0;
  //background-color: $white;
  // border-top:1px solid $gray-light;
  // border-bottom:1px solid $gray-light;

  @include breakpoint($s3){
    min-height: 0
  }
  .hero-content {
    margin:1em auto 0;
    @include breakpoint($s2){
      margin:1em auto 0;
    }
  }
  .hero-text {
    position: relative;
    margin:0 auto;
    //color:$gray;
    //text-shadow: 1px 1px 3px $gray-dark;
    .headback {
      position: absolute;
      left:8%;
      top:-1em;
      display: block;
      font-size: 12px;
      line-height: 1;
      color:$white;
      font-weight: 400;

    }
    img {
      width:1em;
      transform:translate(-.25em, -.25em);
      margin-right: -.125em;
    }
  }
}
.hero-content {
  text-align: left;
  max-width: $s5;
  margin:2em auto;
  padding:2em 1em;
  @include breakpoint($s2){
    padding:2em 1em 2em 1em;
    margin:4em auto;
    .feles & {
      margin:2em auto;
    }
  }
  @include breakpoint($s3){
    padding:2em 20% 2em 3em;
    margin:6em auto;

  }
  @include breakpoint($s4){
    padding:2em 33% 2em 3em;

  }

  .btn {
    font-size: 1.5em;
    line-height: 1.125em;
  }
}
.hero-text{
  font-size: 2em;
  line-height: 1.125em;
  font-weight: 100;
  text-transform: uppercase;
  color:#fff;
  text-shadow: 1px 1px 3px $gray-dark;
  display:block;

  @include breakpoint($s1){
    font-size: 3em;
    line-height: 1.125em;
  }
  @include breakpoint($s2){
    font-size: 4em;
    line-height: 1em;
    .feles & {
      margin:0 auto;
    }
  }
}

