#lang_sel_list, #lang_sel {
  position: absolute;
  // left:363px;
  // top:30px;
  right:1.5em;
  top:0;

  font-size: 0.875em;
  line-height: 1;
  text-transform: uppercase;
  background-color: $orange;
  //background-image: linear-gradient(to right, $orange 0, $orange 50%, $gray-dark 50%);
  color:$white;
  padding:2px 4px;
  @include breakpoint($s3){
    //left:380px;
    right:2.5em;
  }
  ul {
    margin:0;
    padding:0;
  }
  li {
    margin:0;
    padding:0;
    list-style-type: none;
    display: inline-block;
    a{
      color:$white;
      &:hover,&:focus {
        color:$gray-superlight;
      }

    }
    &:after{
      content:" | ";

    }
    &:last-child:after{
      content:"";
    }
    // &.icl-de {
    //   display: none;
    // }
  }
}



// some lang selectro hack

#lang_sel_list, #lang_sel {
  ul li {
    html[lang="hu-HU"] &, html[lang="en-US"] &, html[lang="pl-PL"] &, html[lang="hu"] &, html[lang="en"] &, html[lang="pl"] & {
      &.icl-de, &.icl-fr, &.icl-nl {
        display: none;
      }
    }
    html[lang="de-AT"] &, html[lang="de"] {
      &.icl-hu, &.icl-en, &.icl-pl, &.icl-fr, &.icl-nl {
        display: none;
      }
    }
    html[lang="fr-FR"] &, html[lang="nl-NL"] &, html[lang="fr"] &, html[lang="nl"] & {
      &.icl-hu, &.icl-en, &.icl-pl, &.icl-de {
        display: none;
      }
    }
  }
}




