.productstyle-list {
  margin:0 0;
}
.sqstyle {
  background-color: black;
  position: relative;
  border:.5em solid white;
  overflow: hidden;
  backface-visibility: hidden;


  @include breakpoint($s1) {
    width:50%;
    float:left;
  }

  @include breakpoint($s2) {
    width:33.333%;
  }
  @include breakpoint($s3) {
      border:1em solid white;
  }
  @include breakpoint($s4) {
      border:1.125em solid white;
  }
  @include breakpoint($s5) {
    width:25%;
 }
  // @include breakpoint($s6) {
  //   width:20%;
  // }
}


.sqstyle__fulllink {
  display: block;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  //border:1px solid black;
  &:hover, &:focus {
    .sqstyle__img {
      opacity: 1;
      transform: scale(1.125);
      -ms-filter: grayscale(0%);
      filter:grayscale(0%);
      .stheader & {
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
      }
    }
    .sqstyle__name {
      //opacity: 1;
    }

    .sqstyle__sablon {
      //opacity: 0;
    }

  }
}
.sqstyle__img {
  opacity: .75;
  display: block;
  transition:all .4s ease;
  -ms-filter: grayscale(100%);
  filter:grayscale(100%);
  .stheader & {
    opacity: 1;
    //transform: scale(1);
    -ms-filter: grayscale(0%);
    filter:grayscale(0%);
  }
}

.sqstyle__name {
  background-color: white;
  position: absolute;
  //opacity: 0;
  transition:all .4s ease;
  //width:25%;
  //height:2.5em;
  //width:25%;
  left:0;
  top:0;
  border-right:.5em solid white;
  border-left:.5em solid white;
  border-bottom:.25em solid white;

  //width:25%;
  margin:0;
  color:black;
  //text-align: right;
  //text-shadow: 1px 1px black;
  color:$gray;
  font-weight: 900;
  font-size: .875em;
  line-height: 1;
  i {
    display: none;
  }
}


.sqstyle__sablon {
  position: absolute;
  width:20%;
  height:35.51666%;
  right:0;
  bottom:0;
  border-top:.333em solid white;
  border-left:.333em solid white;
  transition:all .4s ease;
}




.stheader {
  //background-color: red;
  position: relative;
  margin:1.125em 0 2em;
  @include breakpoint($s2) {
    width:33.333%;
    float:left;
  }
  @include breakpoint($s4) {
    width:25%;
  }
}

.stcont {
  @include clearfix();
  position: relative;
  @include breakpoint($s2) {
    width:66.666%;
    float:right;
  }
  @include breakpoint($s4) {
    width:75%;
  }
}


.stheader__back {
  font-family: 'Lucida Grande', Tahoma, Verdana, "HelveticaNeueLTStd", Arial, sans-serif;
  text-transform: uppercase;
  color:#000;
  font-size: 0.75em;
  line-height: 1em;
  margin-top: 1rem;
  display: block;

}

.stheader__title {
  font-size: 2.5em;
  line-height: 1;
  font-weight: 100;
  margin: 1rem 0 0 0;
  //border-top: 1px solid $gray;
}

.stlist {
  @include breakpoint($s2) {
    margin-left: 1%;
  }
  @include breakpoint($s4) {
    margin-left: 1.5%;
  }
}

.stheader__fig {
  max-width: 25rem;
  margin:0 auto;
}

.stheader__sablon {
  padding:.75em;
  display: block;
  border:1px solid $gray-light;
  margin-bottom: 1.5em;
  //background-color: rgba($gray-light,.125);
  opacity:.875;
}

.stheader__bordur {
  position: absolute;
  transform: translateY(-100%);
  right:0;
  display: block;
  width:33.333%;
  border-top:.333em solid white;
  border-left:.333em solid white;
}


.st__gallery {
  position: static;
  padding:0 0;
  margin-top: .875rem;
}


.stlist .prod-mini {

  @include breakpoint(240px){
    width:calc(50% - 1px);
  }
  @include breakpoint($s1){
    width:calc(33.3333333333% - 1px);
  }
  @include breakpoint($s2){
    width:calc(33.333% - 1px);
  }
  @include breakpoint($s3){
    width:calc(33.333% - 1px);
  }
  @include breakpoint($s4){
    width:calc(25% - 1px);
  }
  @include breakpoint($s5){
    width:calc(20% - 1px);
  }
}



