.banner
{
    position: relative;

    //min-height: 100%;
    //width:280px;
    //height: 100vh;
    //overflow: auto;
    //overflow: hidden;
    padding: 0;

    background-color: $gray-dark;

    @include clearfix();
    @include breakpoint($s3)
    {
        max-width: $s5;
        min-height: 0;
        height: auto;
        margin: 0 auto;
        padding: .75em 1em .5em;

        background-color: $white;
        //filter:invert(1);





    }
    @include breakpoint($s3)
    {
        padding: .75em 2em .5em;

        &.scrolled {
        position:fixed;
        z-index: 9999999;
        //max-width: none;
          height:89px;
          top:-89px;
          left:0;
          width:100%;
          //width:100%;
          box-shadow: 0 0 3px 0 lighten($gray-light,10%);
          &:hover, &.ison {
            top:0;

          }

        }




    }

    @include breakpoint($s5) {
        &.scrolled {
           left:calc(50% - 800px );
           box-shadow: 0 2em 3px -2em lighten($gray-light,10%);
       }
    }
    .banner__inner {
    }
    .active-nav & .abanner__inner {
        position: fixed;
        left:0;
        top:0em;
        width:80%;

        overflow: auto;
        height: 100vh;
        //background-color: red;
    }
}



.brand
{
    display: block;
    display: none;
    //background-color: gray;

    width: 363px;
    max-width: calc(100% - 75px);
    height: 38px;

    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% auto;
    transform:translateY(-3px);

    @include text-hide();
    @include breakpoint($s3)
    {
        display: block;
    }
    &:hover,
    &:focus
    {
        opacity: .85;
    }
    html[lang='en-US'] &
    {
        width: 374px;

        background-image: url('../img/logo_en.png');
    }
    html[lang='pl-PL'] &
    {
        width: 470px;

        background-image: url('../img/logo_pl.png');
    }
    html[lang='de-AT'] &
    {
        width: 409px;

        background-image: url('../img/logo_de.png');
    }
}

.brandi
{
    display: block;
    float: right;

    width: 258px;
    height: 50px;
    margin-right: 12px;
    //float:left;

    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: right 9px;
    background-size: auto 25px;

    @include text-hide();
    //margin-top:8px;
    //margin-left:30%;
    //margin-right: 1em;
    html[lang='en-US'] &
    {
        width: 264px;

        background-image: url('../img/logo_en.png');
    }
    html[lang='pl-PL'] &
    {
        width: 320px;

        background-image: url('../img/logo_pl.png');
    }
    html[lang='de-AT'] &
    {
        width: 280px;

        background-image: url('../img/logo_de.png');
    }
    &:hover,
    &:focus
    {
        opacity: .85;
    }
}

.nav-main
{
    font-family: $sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5em;

    text-transform: uppercase;
    margin-top: .75em;

    @include clearfix();
    @include breakpoint($s3)
    {
        margin-top: .25em;
    }
}




.nav-main .nav
{
    margin: 2em 0;
    padding: 0;

    list-style: none;

    @include breakpoint($s3)
    {
        margin: 0 0;
    }
    > li
    {
        margin: 0 0;
        padding: .5em 0;

        list-style-type: none;

        @include breakpoint($s3)
        {
            display: inline-block;

            padding: 0 .25em;
            &:first-child
            {
                padding-left: 0;
            }
            &:last-child
            {
                padding-right: 0;
            }
        }
        &.dropdown
        {
            &:hover
            {
                ul
                {
                    @include breakpoint($s3)
                    {
                        height: auto;
                        padding: 20px 0;

                        opacity: 1;
                    }
                }
            }
        }
        ul
        {
            font-size: .75em;
            line-height: 1;

            margin: 0;
            padding: 0 0 12px;

            transition: opacity .4s ease;

            @include breakpoint($s3)
            {
                position: absolute;
                z-index: 4;

                overflow: hidden;

                height: 0;
                margin: 0 -20px;
                padding: 0 0;

                opacity: 0;
                background-color: rgba(white,.95);
                box-shadow: 0 1px 2px -1px $gray-light;
            }
            li
            {
                display: block;

                margin: 0;
                padding: 0 0;

                list-style-type: none;
                a
                {
                    padding: 10px 20px 10px 32px;

                    text-transform: none;

                    @include breakpoint($s3)
                    {
                        min-width: 12em;
                        padding: 6px 20px;

                        color: $gray !important;
                        &:hover,
                        &:focus
                        {
                            color: $blue !important;
                        }
                    }
                }
            }
        }
    }
    a
    {
        display: block;

        padding: 6px 20px;

        color: $white;

        @include breakpoint($s3)
        {
            display: inline-block;

            padding: 0;

            color: $gray-light;
        }
        &:hover,
        &:focus
        {
            text-decoration: none;

            color: $white;
            background-color: $gray;

            @include breakpoint($s3)
            {
                text-decoration: none;

                color: $gray;
                background-color: transparent;
            }
        }
    }
    .active a
    {
        color: #fff;

        @include breakpoint($s3)
        {
            color: $gray;
        }
    }
    li.telcsi
    {
        a
        {
            //display: inline-block;
            font-family: 'Ionicons';
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            line-height: 1;

            text-transform: none;

            speak: none;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            &:before
            {
                content: '\f2d2';
            }
        }
    }
}

.nav-main .nav > li.inverted > a {
    background-color: $orange;
    color:#fff;
    @include breakpoint($s3) {
        padding:0 .25em;
    }
}
.nav-main .nav > li.invertedgray > a {
    background-color: $gray-dark;
    color:#fff;
    @include breakpoint($s3) {
        padding:0 .25em;
    }
}


.nav1
{
    @include breakpoint($s3)
    {
        display: inline-block;
        float: left;

        margin-left: 1em;
    }
}

.nav2
{
    @include breakpoint($s3)
    {
        display: inline-block;
        float: right;
        clear: right;

        margin-right: 1em;
    }
}

.nav3
{
    font-size: .75em;
    line-height: 1.75em;

    @include breakpoint($s3)
    {
        position: absolute;
        top: 1.75em;
        right: 1.25em;

        display: block;
    }
    @include breakpoint($s3)
    {
        right: 2.25em;
    }
}

.headcontact
{
    padding: 2em 0;

    text-align: center;
    text-transform: none;

    @include breakpoint($s3)
    {
        position: absolute;
        top: 1.333em;
        right: 1em;

        display: block;

        padding: 0 0;

        text-align: right;
    }
    @include breakpoint($s3)
    {
        right: 1.75em;
    }
    ul
    {
        margin: 0;
        padding: 0 0;
        li
        {
            font-size: 1em;
            line-height: 1.333;

            margin: 0;
            padding: 0;

            list-style-type: none;
        }
        a
        {
            color: $gray-light;
            .ion
            {
                //color:$orange;
                display: none;
            }
            &:hover,
            &:focus
            {
                text-decoration: none;

                color: $blue;
            }
        }
    }
}




/* Off Canvas Navigation */
.off-canvas-navigation
{
    display: block;
    overflow: hidden;

    width: 100%;

    color: $gray-dark;
    .brand
    {
        margin-left: 75px;
    }
}

.menu-button
{
    font-size: 25px;
    line-height: 55px;

    display: block;
    float: left;

    width: 50px;
    height: 50px;

    text-align: center;

    color: $gray-dark;
    background: $white;
    background: rgba($white,.3);
}

a.menu-button:hover
{
    text-decoration: none;

    color: #fff;
    background: $gray-dark;
}

/* Site Menu */
.banner,
.mindenmas
{
    width: 100%;

    transition: .2s all ease;
}


.js .banner
{
    float: left;

    margin-left: -100%;
}
.js .mindenmas
{
    float: left;

    margin-left: 0;
}



.active-nav .banner
{
    width: 80%;
    margin-left: 0;
}
.active-nav .mindenmas
{
    margin-right: -100%;
}


@media all and (min-width: $s3)
{
    .off-canvas-navigation
    {
        display: none;
    }
    .js .banner
    {
        float: none;

        width: 100%;
        margin-left: auto;
    }

    .js .mindenmas
    {
        float: none;

        width: 100%;
    }
}




/********* Subnavigation **********/
.has_subnav .main
{
    @include breakpoint($s2)
    {
        float: right;

        width: calc(100% - 290px);
    }
    @include breakpoint($s3) {
        padding-right: 120px;
    }
    @include breakpoint($s4)
    {
        //width: calc(100% - 580px);
        padding-right: 270px;
    }
    @include breakpoint($s5)
    {
        //width: calc(100% - 580px);
        padding-right: 400px;
    }
}
.nav-sub
{
    font-family: $sans-serif;
    font-weight: 300;

    overflow: hidden;

    padding: 1em;

    text-transform: uppercase;

    @include clearfix();

    // html[lang='de-AT'] & {
    //   display: none;
    // }

    @include breakpoint($s2)
    {
        float: left;

        width: 270px;
        margin-right: 20px;
    }
    @include breakpoint($s3)
    {
        padding: 1em 1em 1em 2em;
    }
    .subnav-title
    {
        font-size: 1.5em;
        font-weight: 900;
        line-height: 1em;

        margin: 1em 0;

        color: $gray-light;
    }
    h3
    {
        font-size: 1em;
        font-weight: 400;
        font-variant: small-caps;

        margin: 2em 0 1em;

        text-transform: none;

        color: $gray;
    }
    .snavitem {
      @include breakpoint($s1) {
        width:50%;
        float:left;
        &:nth-of-type(2n+1) {
            clear:left;
        }
      }

      @include breakpoint($s2) {
        width:auto;
        float:none;
        clear: none;
      }
    }
}




.nav-sub .nav
{
    margin: 0 0 3em;
    padding: 0;

    list-style: none;
    li
    {
        margin: 0;
    }
    a
    {
        font-size: .875em;
        line-height: 1.125em;

        position: relative;

        display: inline-block;

        padding: .25em 0;

        color: $gray;
        &:hover,
        &:focus
        {
            text-decoration: none;

            color: $gray-light;
            &:before
            {
                position: absolute;
                top: .333em;
                left: -1.5em;

                display: block;

                width: .875em;
                height: .875em;

                content: '';

                background-color: $orange;
            }
        }
    }
    .active a
    {
        color: $blue;
        &:before
        {
            position: absolute;
            top: .333em;
            left: -1.5em;

            display: block;

            width: .875em;
            height: .875em;

            content: '';

            background-color: $blue;
        }
    }
}


.post-nav
{
    clear: both;

    text-align: center;

    @include clearfix();
    ul
    {
        margin: 0;
        padding: 0;
    }
    li
    {
        display: inline;

        list-style-type: none;
        a
        {
            display: inline-block;

            max-width: 50%;
            padding: .333em 1em;

            color: $blue;
            border: 1px solid $gray-light;
            background-color: $gray-superlight;
            &:hover,
            &:focus
            {
                text-decoration: none;

                color: #fff;
                border: 1px solid $gray;
                background-color: $gray-light;
            }
        }
    }
}

.post-pn
{
    font-size: .875em;
    font-weight: 400;
    line-height: 1em;

    position: relative;
    z-index: 1;

    clear: both;

    padding: 1em 1em 2em;

    text-align: center;

    @include clearfix();
    @include breakpoint($s2)
    {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &:before
    {
        position: absolute;
        top: 0;
        right: 2.5em;
        left: 2.5em;

        display: block;

        height: 2px;

        content: '';
        //width:60%;

        border-top: 1px solid $gray;
    }
    ul
    {
        margin: 0;
        padding: 0;
    }
    li
    {
        margin: .5em auto;

        list-style-type: none;
        //display: inline;
        a
        {
            display: block;

            color: $gray-light !important;
            background-color: transparent;
            //max-width: 160px;
            &:hover,
            &:focus
            {
                text-decoration: none;

                color: $orange !important;
            }
            i
            {
                font-size: 1.5em;
            }
        }
    }
}


.product-pn
{
    font-size: .875em;
    font-weight: 400;
    line-height: 1em;

    position: absolute;
    z-index: 0;
    top: 50px;
    right: 0;
    left: 0;

    clear: both;

    padding: .5em .5em;

    text-align: center;

    @include clearfix();
    @include breakpoint($s2)
    {
        position: absolute;
        top: 42%;
        right: 0;
        left: 0;
    }
    ul
    {
        margin: 0;
        padding: 0;
    }
    li
    {
        margin: .5em auto;

        list-style-type: none;
        &:first-child
        {
            float: left;
        }
        &:last-child
        {
            float: right;
        }
        //display: inline;
        a
        {
            //background-color: rgba($orange,0.75);
            display: block;

            color: #fff;
            text-shadow: 0 0 5px $gray-dark;
            //max-width: 160px;
            &:hover,
            &:focus
            {
                text-decoration: none;

                color: $gray-dark;
            }
            i
            {
                font-size: 8em;
            }
        }
    }
}






/********** Footer Sitemap ***********/
.nav-footer
{
    padding: 1em 0;

    @include clearfix();
    @include breakpoint($s3)
    {
        padding: 1em 1em;
    }
    ul
    {
        width: 100%;
        margin: 0;
        padding: 0;

        @include clearfix();
        li
        {
            position: relative;

            margin: 0;
            padding: .5em 0;

            list-style: none;
            a
            {
                font-size: 1.333em;
                line-height: 1;

                display: block;

                margin-bottom: .75em;

                text-transform: uppercase;
                //font-variant: small-caps;
            }
            &.notinfooter
            {
                display: none;
            }
            &.dropdown
            {
                padding: 1.5em 1em;

                @include breakpoint($s0)
                {
                    float: left;
                    width: 50%;
                }
                @include breakpoint($s2)
                {
                    width: 33.333%;
                }
                @include breakpoint($s3)
                {
                    width: 20%;
                }
                li
                {
                    a
                    {
                        font-size: 1em;

                        display: inline;

                        margin-bottom: 0;

                        text-transform: none;
                        //font-variant: normal;
                    }
                    &.active
                    {
                        &:before
                        {
                            position: absolute;
                            top: 12px;
                            left: -13px;

                            width: 7px;
                            height: 7px;

                            content: '';

                            background-color: $orange;
                        }
                    }
                }
            }
        }
    }
}
