.banner {
  @include clearfix();
  background-color: $white;
  position: relative;
  overflow: hidden;
  transition:height .4s;
  border-bottom:1px solid $gray-light;
  @include breakpoint($s2) {
    height:100px;
  }
  &.active {
    height:320px;
  }

}

.navbar-toggle {
  width:60px;
  height:60px;
  font-size:30px;
  line-height:60px;
  text-align: center;
  background-color: $orange;
  color:#fff;
  border:none;
  &:hover, &:focus {
    background-color:$yellow;
  }
  @include breakpoint($s2) {
    display:none;
  }
}
  

.brand{
  @include text-hide();
  display:block;
  //background-color: gray;
  width:400px;
  max-width: calc(100% - 20px);
  height:60px;
  background-image:url('../img/logo.png');
  background-repeat:no-repeat;
  background-position: left center;
  background-size: 100% auto;
  margin:0 10px;
  @include breakpoint($s2) {
    margin:0 20px;
  }

  &:hover, &:focus {
    opacity: 0.75;
  }
}

.nav-main{
  @include clearfix();
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  font-family: $sans-serif;
}




.nav{
  margin:0;
  padding:0;
  list-style:none;


  li{
    padding:0 0.25em;
    @include breakpoint($s2) {
      display:inline-block;
      padding:0 0.25em;
    }
  }

  a {
    color:$gray-light;
    display: inline-block;
    &:hover, &:focus {
      color:$gray;
      text-decoration: none;
    }
  }
  .active a {
    color:$gray;
  }
}


.nav1 {
  @include breakpoint($s2) {
    display:inline-block;
    float:left;
    margin-left:1em;
  }
}

.nav2{
  @include breakpoint($s2) {
    display:inline-block;
    float:right;
    clear:right;
    margin-right: 1em;
  }
}

.nav3 {
  font-size: 0.75em;
  line-height: 1.75em;
  @include breakpoint($s2) {
    display:inline-block;
    position:absolute;
    right:1.25em;
    top:2em;
  }
}





/* Off Canvas Navigation */
// .off-canvas-navigation {
//   width: 100%;
//   overflow: hidden;
//   display: block;
//   color: #fff;
// }
// .off-canvas-navigation ul li {
//   width: 20%;
//   display: block;
//   float: left;
// }
// .off-canvas-navigation ul li.sidebar-item {
//   float: right;
// }
// .menu-button,
// .sidebar-button {
//   padding: 1em 20%;
//   font-size: 14px;
//   display: block;
//   background: #333;
//   background: rgba(0,0,0,.3);
//   color: #fff;
//   border-top-right-radius: 1em;
//   box-shadow: inset 0 20px 20px rgba(255,255,255,.1);   
// }
// .menu-button.active-button,
// .sidebar-button.active-button {
// }
// a.menu-button:hover,
// a.sidebar-button:hover {
//   text-decoration: none;  
//   background: rgba(0,0,0,.35);
//   color: #ddd;
// }
// .sidebar-button {
//   text-align: right;  
//   border-top-left-radius: 1em;
//   border-top-right-radius: 0; 
//   background: rgba(0,0,0,.15);        
// } 
// /* Site Menu */
// [role="navigation"],
// [role="main"],
// [role="complementary"] {
//   transition: .2s all ease;     
//   width: 90%;
//   padding: 5%;
// }

// .js [role="navigation"] { 
//   margin-left: -100%;
//   float: left;
// }
// .js [role="main"] {
//   margin-left: 0;
//   float: left;
// }
// .js [role="complementary"] {  
//   margin-right: -200%;
//   float: left;    
// }

// .active-nav [role="navigation"] { 
//   margin-left: 0; 
//   width: 80%;
// }
// .active-nav [role="main"]{
//   margin-right: -100%;
// }
// .active-nav [role="complementary"] {  
//   margin-right: -100%;
//   float: right;   
// }

// .active-sidebar [role="navigation"] { 
//   margin-left: -100%;
// }
// .active-sidebar [role="main"] {
//   margin-left: -90%;  
// }
// .active-sidebar [role="complementary"] {  
//   margin-left: 0;
//   width: 80%; 
// }

// @media all and (min-width: 600px) { 
//   .js [role="navigation"] {
//     width: 20%; 
//     margin-left: 0;
//   }
//   .js [role="main"] {
//     width: 60%;
//     float: left;
//   }
//   .js [role="complementary"] {
//     width: 20%;
//   }       
//   .active-sidebar [role="navigation"] { 
//     margin-left: -100%;
//   }
//   .active-sidebar [role="main"] {
//     margin-left: 0;
//     width: 60%;
//   }
//   .active-sidebar [role="complementary"] {  
//     margin-right: -80%;
//     width: 20%;
//   }       
// }

// @media all and (min-width: 800px) { 
//   .js [role="navigation"] {
//     width: 19%; 
//     margin-left: 0;
//     float: left;
//     padding: 3%
//   }

//   .js [role="main"] {
//     width: 44%;
//     padding: 3%;    
//   }

//   .js [role="complementary"] {
//     width: 19%; 
//     padding: 3%;  
//     margin-right: 0;
//     float: right;
//   }       
// }