.product-list {
  @include clearfix();
  //background-color: $brown;
  //max-width: $s5;
  //word-break: break-all;
  font-size: 0;
  line-height: 0;
  text-align: justify;
  margin:0 auto;
  padding:1px 0 0 0;
  @include breakpoint($s1){
    padding:1px 0 0 0;
  }
  @include breakpoint($s2){
    //padding:1em 0.5em 1em 1em;
  }
  @include breakpoint($s3){
     //padding:2em 1em 1em 2em;
  }
  @include breakpoint($s4){
     //padding:2em 1em 1em 2em;
  }
  &:after{
    content:"";
    display:inline-block;
    height:0;
    width:100%;
  }
}
.ref-mini {
  font: normal 16px/24px $sans-serif;
  display:inline-block;
  overflow:hidden;
  position:relative;
  margin-bottom:1px;
  padding:2em;
  &:hover, &:focus {
    text-decoration: none;
    color:$gray-dark;
    .ref-desc {
      //opacity:1;
    }
    .ref-thumb {
      //transform:scale(1.1)
    }
  }


  @include breakpoint($s1){
    width:calc(50% - 1px);
  }
  @include breakpoint($s2){
    width:calc(33.3333333333% - 1px);
  }
  @include breakpoint($s3){
    width:calc(25% - 1px);
  }
  @include breakpoint($s4){
    width:calc(20% - 1px);
  }
  @include breakpoint($s5){
    width:calc(16.66666666% - 1px);
  }
}
.ref-thumb{
  transition:transform .4s linear;
  backface-visibility:hidden;
  //position: absolute;
  //width:100%;
}
.ref-desc{
  transition:opacity .4s linear;
  color:$gray;
  text-align: center;
  padding:1em 1em 0;
}

.ref-title{
  margin:0;
  font-weight:300;
  font-size: 1em;
  line-height: 1em;
  //text-transform: none;
  //color:$military-dark;
  //position:relative;
  //margin-top:50%;
  //transform:translateY(-50%);
  &:first-letter{
    text-transform: uppercase;
  }

}


/******* Single Product Page *******/
.single-product .main{
  max-width: $s5;
}
article.product {
  @include clearfix();
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
.product-figure {
  width:25%;
}
article.product header{
  background-color: rgba($white,0.75);
  padding:1em 1em;
  @include breakpoint($s2){
    margin: 60px 1em;
    width:45%;
  }
  @include breakpoint($s3){
    width:33.333%;
  }
}
.product-title {
  margin-top:0;
  line-height:1.125em;
}

.product-addcont{
  text-align: left;
  padding:0 1em;
  @include breakpoint($s2){
    float:left;
    clear:left;
    padding:0 0 1em 0;
    max-width:55%;
  }
  @include breakpoint($s3){
    max-width:66.666%;
  }
}
