.product-control{
  @include clearfix();

}

.nav-category {

  ul {
    //margin:0;
    padding:0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    &.active {
      a {
        color:$gray;
      }
    }
  }
  a{
    display: inline-block;
    padding:0.25em 0.5em;
    margin: 0 0.5em;
    text-transform: uppercase;
    color:$gray-light;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 1em;
  }


}
.filt-wrap{
  background-color: $white;
  text-align: right;
  //border-bottom:1px solid $gray-superlight;

  &.fixed {
    position: fixed;
    top:0px;
    left:0;right:0;
    width:100%;
    z-index:1;
    padding: 10px 0 10px;
    border-bottom:1px solid $gray-superlight;
    box-shadow: 0 0 1rem 0 rgba(#000,.25);
    text-align: center;
  }

}
.filt-wrap__inner {
  @include clearfix();
  padding: 5px 1rem 0;
  max-width: $s5;
  margin:0 auto;
}

.filt-title {
  display: inline-block;
  margin:0 5px 0 0;
  text-transform: uppercase;
  color:$gray-dark;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 32px;
  //height:32px;
  display: none;
  @include breakpoint($s2){
    float:left;
    max-width:167px;
  }

}
.filt-selectors {
  @include breakpoint($s2){
    //float:right;
  }
}
.filt-select-con {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 150px;
  text-align: left;
  color:$gray;
  font-weight: 300;
  font-size: .875em;
  line-height: 1em;
  @include breakpoint($s2){
    width:167px;
  }
  @include breakpoint($s3){
    width:178px;
  }
}

.filt-select-con--color {
    .tax-product-color & {
        display: none;
    }

}
.filt-select-con--style {
    .tax-product-design & {
        display: none;
    }
}
.filt-select-con--design {
    .tax-product-design & {
        display: none;
    }

}

.filt-placeholder {
  display: block;
  position: relative;
  padding: 0 30px 0 10px;
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid $gray-light;
  line-height: 30px;
  cursor:pointer;
  &.selected{
    background-color: $gray-light;
    color:#fff;
    i{
      color:#fff;
      &:before{
        content:"\f126";
      }
    }
  }

  i{
    position: absolute;
    right: 0.666em;
    top:0.125em;
    color:$gray-light;
  }

  em {
    text-transform: none;
    font-style: normal;
    i{
      display: none;
    }
  }

  .active &{
    span {
      display:none;
    }
  }

}


.filt-item.filt-minta{
  width:160px;
  @include breakpoint($s2){
    width:260px;
  }

  > li{
    //display: inline-block;
    float:left;
  }

}
.filt-item {
  position: absolute;
  margin:0;
  padding: 10px 0 0 0;
  width: 150px;
  z-index: 2;
  background-color: rgba(255,255,255,.95);
  @include breakpoint($s2){
    width:167px;
  }

  @include breakpoint($s3){
    width:178px;
  }

  &.hide {
    display:none;
  }

  >li {
    position: relative;
    padding: 0 13px;
    height: 30px;
    list-style: none;
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
    color:$gray;
    background-color: rgba(255,255,255,0);
    &:hover, &:focus{
      background-color: rgba(255,255,255,1);
      color:$gray-dark;
    }

  }

  label {
    line-height: 1;
    display: block;

    i{
      position: absolute;
      right: 0.875em;
      top:0;
      color:$gray-light;
      display: none;
      &:hover, &:focus{
        color:$gray-dark;
        cursor: pointer;
      }

    }
  }
  input{
    opacity: 0;
    background-color: red;
    position: absolute;
    z-index: 100;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: block;
    width:100%;
    height:100%;
    cursor: pointer;
  }
  input.selected ~ label {
    color:$blue;
    i{
      display: inline;


    }
  }

}