.filt-wrap, .nav-category {
    //display: none;
}
.modalmenutrigger {
    display: none;
    @include breakpoint($s3){
        display: inline-block;
    }
}

.prsmwrap {
    background-color: $white;
    @include breakpoint($s3){
        border:1px solid $gray-superlight;
        background-color: $white;
        position: absolute;
        z-index: 1;
        left:0;
        top:100%;
        width:100%;

        box-shadow: 0 5rem 5rem 0 rgba(#000,.25);
        display: none;
        &.is-open {
            display: block;
        }

    }
}
.prsmnav {
    //border:1px solid $gray-light;
    padding: 3rem 1rem 2rem 1em;
    margin:0 0;
    //max-width: 40rem;
    @include breakpoint($s2){
        //max-width: 60rem;
    }
}
.prsmnav > ul {
    @include clearfix();
    list-style: none;
    text-align: left;
    margin:0 0;
    padding:0;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1em;
    color: $gray;

     > li {
        margin:0;
        padding:0 1rem 2rem;
        display: block;
        //min-width: 12em;
         > a {
            display: inline-block;
            text-transform: uppercase;
            color: inherit;
        }


        @include breakpoint($s1){
            width:50%;
            float: left;
            &:nth-child(2n+1) {
                clear:left;
            }
        }

        @include breakpoint($s3){
            width:auto;
            max-width:25%;
            //padding-right: 8%;
            &:nth-child(2n+1) {
                clear:none;
            }
            &:nth-child(4n+1) {
                clear:left;
            }
        }
        @include breakpoint($s5){
            padding-right: 5%;
        }
        // @include breakpoint($s2){
        //    width:20%;
        //    &:nth-child(3n+1) {
        //         clear:none;
        //  }
        // }
        // @include breakpoint($s4){
        //    width:16.666%;
        // }
    }

}


.prsmnav > ul ul {
    font-size: .875em;
    list-style: none;
    margin:0;
    padding:0;
    > li {
        //padding:0;
        &:before {
            content:'';
            display: inline-block;
            width:.666em;
            height: .666em;
            background-color: $gray-light;
            margin:0 .5em 0 0;
        }
        margin: .5em 0;
        > a {
            text-transform: none;
            color:inherit;

        }
    }
}


.prsmnav > ul ul ul {
    font-size: 1em;
    list-style: none;
    margin:0;
    padding:0;
    font-weight: 300;
    > li {
        &:before {
            display: none;

        }
        &:not(:last-child()):after {
            content:' | ';
        }
        display: inline-block;
        margin: 0 0;
        > a {
            text-transform: none;
            color:inherit;

        }
    }
}

